// img{
// 	margin-top: 1rem;

// }

.content {
	margin-left: 1em;
	padding-bottom: 0;

}

.content h6{
	margin-left: 1em;
}
.content p {
	margin-left: 1em;

}


.mt-1 {
	margin-top: 1rem;
}

.pb-2 {
	padding-bottom: 2rem;
	
}

.logo{
	margin:2em;
}


.rightbox{

	margin-left:1.5rem;	
	margin-right:2rem;
	margin-top:2.5rem;
	padding:2rem;
}

.leftbox{
	margin-left:2rem;	
	margin-right:1.5rem;	
	margin-top:2.5rem;
	padding:2rem;
}



div .smallmargin{
	margin-top:3rem;	
}

.button{
	margin-top:1.5em;
}
.part{
	margin-top:2em;
	margin-bottom:2em;
}

section{
	margin-top:5em;
	margin-bottom:5em;
	margin-left:2em;
	margin-right:2em;
	
}

.content{
	margin-top:2em;
	margin-bottom:0.5em;
}
ul.bullet{
    list-style: disc outside;
    margin-left: 2em;
	margin-top: 0; 
}



aside{
	margin-top:2em;
	margin-bottom:2em;
	margin-left:2em;
	margin-right:2em;

}



span{
	margin:0 0.5em;
}
span>a{
	color:#438e88;
}
span>a:hover{
color:#f2d5df;
}

.navbar-end{
margin-right:2em;
}

.navbar-item{
	margin: 1em;
}


.navbar-menu{
	margin-top:1.5em;
}
.profile{

	margin:auto;
}
