.mt-1 {
	margin-top: 1rem;
}

.pb-2 {
	padding-bottom: 2rem;
}

.logo{
	margin:2em;
}



.button{
	margin-top:1.5em;
}
.part{
	margin-top:2em;
	margin-bottom:2em;
}

section{
	margin-top:5em;
	margin-bottom:5em;
	margin-left:2em;
	margin-right:2em;
	
}


aside{
	margin-top:2em;
	margin-bottom:2em;
	margin-left:2em;
	margin-right:2em;

}



span{
	margin:0 0.5em;
}
span>a{
	color:#438e88;
}
span>a:hover{
color:#f2d5df;
}

.navbar-end{
margin-right:2em;
}

.navbar-item{
	margin: 1em;
}


.navbar-menu{
	margin-top:1.5em;
}
.profile{

	margin:auto;
}
